.vitien_body {
    display: flex;
    align-items: center;
    gap: 10px;
}

.vitien_container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.vitien_text {
    font-size: 20px;
    font-weight: 500;
    color: #89eb34;
}

.vitien_tien {
    font-size: 20px;
    font-weight: 500;
}