.FormSignup_type__ga8F0 {
    font-size: 12px;
    color: var(--grey);
    display: flex;
    align-items: center;
    padding: 20px 0 12px;
    gap: 10px;

    label {
        display: flex;
        align-items: center;
        gap: 6px;
    }
}

input[type=radio] {
    position: relative;
    height: 18px;
    width: 18px;
    background-color: transparent;
    outline: none;
}

input[type=radio]:checked:before {
    content: "";
    position: absolute;
    z-index: 10;
    left: 6px;
    top: 4px;
    width: 6px;
    height: 8px;
    border: solid var(--title-color);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

input[type=radio]:checked:after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 32px;
    background: linear-gradient(180deg, #01d32b, #00a31b);
    border: 1px solid #01d32b;
}

.Input_sendBtn__cEMS2 {
    font-size: 14px;
    height: 90%;
    position: absolute;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
    font-weight: 600;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-radius: 4px;
    background: linear-gradient(180deg, #71d434, #2e9124), linear-gradient(180deg, #be3aec, #9f26c9);
    color: var(--title-color);
}

.FormSignup_help__eYvaQ {
    text-align: center;
    font-size: 12px;
    display: block;
    margin-top: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}